NAME=System Bot
AVATAR=https://www.google.com/imgres?q=%E3%82%A2%E3%82%A4%E3%82%B3%E3%83%B3&imgurl=https%3A%2F%2Fkotonohaworks.com%2Ffree-icons%2Fwp-content%2Fuploads%2Fkkrn_icon_user_1.png&imgrefurl=https%3A%2F%2Fkotonohaworks.com%2Ffree-icons%2Fuser%2F&docid=9t9AFzX_xzlFDM&tbnid=scVC8cCTFj4kmM&vet=12ahUKEwizkvaRg9uGAxVQmlYBHSr3DHoQM3oECBcQAA..i&w=800&h=800&hcb=2&ved=2ahUKEwizkvaRg9uGAxVQmlYBHSr3DHoQM3oECBcQAA
TYPE=bot
MAIN=index.js
RAM=100
AUTORESTART=false
VERSION=latest
APT=tools